<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Generalnie co użytkownik widzi--> 
<div class="container">
  <h1>Stock Exchange System</h1>
  
  <div class="section">
    <h2>Lista spółek</h2>
    <ul>
      @for (company of companies; track company) {
        <li>{{ company }}</li>
      }
    </ul>
  </div>
  
  <div class="section">
    <h2>Lista użytkowników</h2>
    <ul>
      @for (user of users; track user) {
        <li>{{ user }}</li>
      }
    </ul>
  </div>

  <div class = 'section'>
    <h2>Portfolios</h2>
    <table class = "portfolio-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>User ID</th>
          <th>Company ID</th>
          <th>Number of stocks</th>
          <th>Last updated</th>
        </tr>

      </thead>
  <tbody>
    @for (portfolio of portfolios; track portfolio.id){
      <tr>
        <td> {{portfolio.id}}</td>
        <td> {{portfolio.userId}}</td>
        <td>{{portfolio.companyId}}</td>
        <td>{{portfolio.quantity}}</td>
        <td>{{portfolio.lastUpdated | date:'short'}}</td>
      </tr>
    }
  </tbody>
    </table>
    </div>
</div>

<router-outlet />
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


