body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0d;
  color: #e5e7eb;
}

/* Light mode */
body.light-mode {
  background: #ffffff !important;
  color: #1f2937 !important;
}

/* Dark mode */
body.dark-mode {
  background: #0b0b0d !important;
  color: #e5e7eb !important;
}